<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wind.frosty">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".creations.YiyanActivity"></activity>
        <activity android:name=".creations.TopicActivity"></activity>
        <activity android:name=".creations.MusicActivity"></activity>
        <activity android:name=".creations.ImageActivity"></activity>
        <activity android:name=".creations.TopicDetail"></activity>
        <activity android:name=".creations.MusicDetail"></activity>
        <activity android:name=".creations.ImageDetail"></activity>
        <activity android:name=".mine.MyAccount"></activity>
        <activity android:name=".mine.MyCreation"></activity>
        <activity android:name=".mine.MyFavorites"></activity>
        <activity android:name=".creations.ImagePreview"></activity>

        <service android:name=".services.MusicService" android:enabled="true"></service>
    </application>

</manifest>